[Desktop Entry]
Name=Lace
X-KDE-PluginInfo-Name=Lace
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
